<header class="mb-4">

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">連絡先</a>
      <div class="dropdown">
        <% if logged_in? %>
          <a href="#" class="dropdown-toggle nav-link text-white" data-toggle="dropdown"><%= current_user.name %></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item"><%= link_to '新しい連絡先', new_contact_path %></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <% if request.path == login_path %>
            <li class="list-unstyled"><%= link_to '会員登録', signup_path, class: 'nav-link text-white' %></li>
          <% else %>
            <li class="list-unstyled"><%= link_to 'ログイン', login_path, class: 'nav-link text-white' %></li>
          <% end %>
        <% end %>
      </div>
  </nav>
</header>
